<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page_structure">
        <div class="title">
            <h2 id="about_title">За нас</h2>
        </div>
        <section id="address">
            <div>
                <p style="color: white">Адрес</p>
                <p style="color: white">Панагюрище<br />ул. "Завоя на Черна" №17<br />4500 Панагюрище<br />България
            </div>
        </section>
        <section id="maps">
            <div id="googleMap" style="width:400px;height:400px;"></div>
        </section>
        <div id="empty">
            <br /><br /><br />
        </div>
    </div>
</body>
</html>

<script>
function myMap() {
	var mapProp= {
        center: new google.maps.LatLng(42.5028614,24.1818251),
		zoom:16
	};
	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var marker = new google.maps.Marker({ position: new google.maps.LatLng(42.5028614, 24.1818251)});
	marker.setMap(map);


}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaj7kQT7elu9exHpXLV5AJzTfHUWhbLF4&region=BG&callback=myMap"></script>
