@{
    ViewBag.Title = "Home Page";
}


@model List<MVC_Blog.Models.Post>

<img src="~/images/blog.jpg" />

<section class="row">
    @foreach (var post in Model)
    {
        <article>
            <h2 class="title">@post.Title</h2>
            <div class="about">
                Публикувано от
                @if (post.Author != null)
                {
                    @:от
                    <i>@post.Author.FullName</i>
                }
                на <i>@post.Date</i>
            </div>
            <div class="body">@Html.Raw(post.Body) </div>
        </article>
    }
</section>
