<!DOCTYPE html>

@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Sportal world</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
</head>

<body>
    <ul class="bar">
        <li class="menu"><a href="main.html">Начало</a> </li>
        <li class="menu"><a href="">Футбол</a></li>
        <li class="menu"><a href="">На живо</a></li>
        <li class="menu"><a href="">За нас</a></li>
        <li class="menu"><a href="">Контакти</a></li>
    </ul>

    <div class="name">
        <span>
            <h1>Сайт за спортни новини</h1>
            <h2>проект на [Александър Велчев]</h2>
        </span>
    </div>
    <div class="cover">
        <img alt="" src="bet365-logo.jpeg" />
    </div>
    <div class="news">
        <section id="newssection">
            <div>
                <h2 id="oneTitle">
                    Сити с класа над Юнайтед в дербито на Манчестър, "дяволите" вече са на 12 точки от върха (видео)
                    <p id="publishDate">Публикуван на [01.11.2018]</p>
                </h2>
                <p id="newsText">Шампионът Манчестър Сити спечели напълно заслужено 177-ото градско дерби <br /> срещу Манчестър Юнайтед с 3:1 на "Етихад Стейдиъм", благодарение на което се.</p>
                <p><a style="color:white" href="">Пълен текст на статията>></a>&nbsp;&nbsp;<a style="color: white" href="">Коментари</a></p>
            </div>
            <div>
                <h2 id="twoTitle">
                    Ивайло Петев пое към Саудитска Арабия
                    <p id="publishDate">Публикуван на [02.11.2018]</p>
                </h2>
                <p id="newsText">
                    Бившият селекционер на България Ивайло Петев прие ново предизвикателство в <br /> 0 0 0 0 10
                    Бившият селекционер на България Ивайло Петев прие ново предизвикателство в своята кариера. Родният специалист е новият старши треньор на Ал-<br />Кадисия, научи Sportal.bg. Двукратният първенец в "А" група с Лудогорец прие
                </p>
                <p><a class="link" href="">Пълен текст на статията>></a>&nbsp;&nbsp;<a class="link" href="">Коментари</a></p>
            </div>
        </section>

        <section id="searchline">
            <div>
                <h2 class="header">Търсене</h2>


                <form action="http://www.google.com/search" method="get">
                    <input type="text" name="q" />
                    <input type="submit" value="Търси" />
                </form>
                <h2 class="header">Характеристики</h2>
                <ul>
                    <li class="list">Характеристика 1</li>
                    <li class="list">Характеристика 2</li>
                    <li class="list">Характеристика 3</li>
                </ul>
            </div>
        </section>
        <div id="empty">
            <br /><br /><br />
        </div>
    </div>
    <footer id="last">
        <p id="allright">©2018 Сайт за спортни новини</p>
    </footer>
</body>
</html>